body {
  font-family: "Ubuntu", sans-serif;
  color: #474539;
}

a:link, a:visited {
  color: #4B5657;
}

a:hover, a:active {
  color: #4B5657;
  background-color: #e3e3e3;
}
#sidebar {
  float: left;
  width: 350px;
  margin: 0px 5px 5px 5px;
}

#map {
  height: 575px;
  margin: 0px 5px 5px 5px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20;
  background-color: #e3e3e3;
}

td {
  font-size: 16px;
  font-weight: bold;
}
td.desc {
  width: 350px;
}
td.true {
  color: #2c353e;
}
td.false{
  color: #a92c10;
}
